<div ng-app="formContent">
  <div ng-controller="ContentController">
    <div class="row">
      <div class="col-md-8">
        <form ng-submit="addContent()">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" ng-model="newContent.title" placeholder="Text" />
              <br><b>Label Name : </b>{{newContent.title}}
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name="description" ng-model="newContent.description"  placeholder="Description" />
              <br><b>Label Name : </b>{{newContent.description}}
          </div>
          <div class="form-group">
            <label>Button Text</label>
            <input type="text" class="form-control" name="button_text" ng-model="newContent.button_text"  placeholder="Button Text" />
              <br><b>Label Name : </b>{{newContent.button_text}}
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>